body{
  margin:0;
  font-family:Segoe UI;
  background:#f4f7fc;
}

.container{
   width:90%;
   margin:auto;
}

h1{
  text-align:center;
  color:#1e40af;
  margin-top:20px;
}

.card{
  background:white;
  padding:25px;
  border-radius:12px;
  box-shadow:0 4px 15px rgba(0,0,0,.1);
}

input,
textarea{
 width:100%;
 margin-top:10px;
 padding:12px;
 border:1px solid #ddd;
 border-radius:8px;
}

textarea{
 min-height:150px;
}

button{
 background:#2563eb;
 color:white;
 border:none;
 padding:12px 20px;
 margin-top:15px;
 border-radius:8px;
 cursor:pointer;
}

button:hover{
 background:#1d4ed8;
}

.posts{
 margin-top:30px;
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
 gap:20px;
}

.post-card{
 background:white;
 padding:20px;
 border-radius:12px;
 box-shadow:0 3px 10px rgba(0,0,0,.1);
 transition:0.3s;
}

.post-card:hover{
 transform:translateY(-5px);
}
